// Variaveis Sass
$cor-padrao: darken(#c24e4b, 0%);
$cor-auxiliar: lighten(#1e2c35, 10%);
$cor-branca: #FFF;
$fonte-padrao: 16px;

$ponto-de-quebra: 980px;

$mq-mobile: "(max-width: 980px)";

//outras funções de cor:

//adjust-hue();

//saturate();

//complement();
